*.pyc
*.DS_Store
*.swp
scratch_code.py
*./*scratch_code.py
data
data/
data/*
instrbuilder/bluesky_demo/bluesky_camera.py
instrbuilder/bluesky_demo/bluesky_flyers.py
*.png
*.npy
*.idea
instrbuilder/bluesky_demo/custom_plan.py
instrbuilder/scratch/*
bluesky_demo/lockin_tests/freq_res_sr810_autogen.py

