build_new.sh
*.pyc
*egg*
*.DS_Store
*.swp
scratch_code.py
*./*scratch_code.py
data
data/
data/*
instrbuilder/bluesky_demo/bluesky_camera.py
instrbuilder/bluesky_demo/bluesky_flyers.py
*.png
*.npy
*.idea
instrbuilder/bluesky_demo/custom_plan.py
instrbuilder/scratch/*
bluesky_demo/lockin_tests/freq_res_sr810_autogen.py
*.so
dist
dist/
dist/*
build
build/
build/*
.coverage

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


